.theme-dark {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-rgb: 255, 0, 112;
    --text-color-title: #000028;
    --text-color-main-title: #DB00FF;
    --text-color-title-section: #FF0070;
    --page-background-image: url("../images/cover-image-dark.png");
}