.theme-dark {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --text-color-title: #000028;
  --text-color-main-title: #DB00FF;
  --bg-color: #000028;
  --text-color-title-section: #FF0070;
  --font: "IBM Plex mono";
  background-image: url(../images/cover-image-dark.png);
}


.theme-dark .decorated-zone::before {
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
}

.theme-dark .decorated-zone::after {
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button {
    color: var(--accent-color);
}

.theme-dark .main-title {
    text-shadow: 4px 4px 0px var(--accent-color);
}

.theme-dark .footer-text {
    text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-dark .decor {
    display: inline-block;
    right: 45px;
}

.theme-dark .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
}

.theme-dark .header__theme-menu-button:hover {
    border: 1px solid rgb(255, 0, 112, 0.40);
}