.theme-light {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-rgb: 50, 49, 45;;
    --text-color-title: #353430;
    --text-color-main-title: #FFC2E6;
    --text-color-title-section: #353430;
    --page-background-image: url("../images/cover-image-light.png");
    --button-text-color: #353430;
    --button-border-color: #353430;
    --decor-display: none;
    --corner-color: #353430;
}

@media (prefers-color-scheme: light) {
    .theme-auto {
        --bg-color: #FFF1F7;
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --accent-color-rgb: 50, 49, 45;;
        --text-color-title: #353430;
        --text-color-main-title: #FFC2E6;
        --text-color-title-section: #353430;
        --page-background-image: url("../images/cover-image-light.png");
        --button-text-color: #353430;
        --button-border-color: #353430;
        --decor-display: none;
        --corner-color: #353430;
    }
}