.page {
    background-color: var(--bg-color);
    background-image: var(--page-background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.3;
    width: 100%;
    min-width: 375px;
    min-height: 100vh;
    margin: 0;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--text-color-title);
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    display: block;
    inline-size: 25px;
    block-size: 25px;
}

.decorated-zone::before {
    inset-inline-end: var(--content-padding);
    inset-block-start: var(--content-padding);
    border-block-start: 1px solid var(--accent-color);
    border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
    inset-inline-start: var(--content-padding);
    inset-block-end: var(--content-padding);
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__title {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.card__title_regular {
    font-weight: 400;
}

.card__title_small {
    font-size: 18px;
    font-weight: 400;
}

.card__text {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

.link {
    text-shadow: 2px 2px 0 var(--accent-color);
    text-decoration: none;
}

.link:hover {
    border-block-end: 1px solid var(--text-color);
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    outline: 1px solid var(--text-color);
}

.header {
    position: relative;
    height: 100vh;
    min-height: 668px;
    padding: var(--content-padding);
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-items: center;
}

.decor {
    display: var(--decor-display, none);
    position: absolute;
    inset-inline-end: 38px;
    inset-block-start: var(--content-padding);
    color: var(--accent-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.decor::after {
    content: '';
    position: absolute;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0 0 4px 2px var(--accent-color);
    inset-inline-start: calc(100% + 10px);
    inset-block-start: 8px;
}

.header__theme-menu {
    justify-self: end;
    align-self: start;
    margin-block-start: 65px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-item {
    display: flex;
    justify-content: center;
}

.header__theme-menu-button {
    inline-size: 70px;
    min-height: 26px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--button-text-color, var(--accent-color));
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    text-transform: lowercase;
    padding: 0 13px;
}

.header__theme-menu-button:hover {
    border-color: rgba(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-color: transparent;
    border-block-end: 1px solid var(--button-text-color, var(--accent-color));
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-border-color, var(--accent-color));
    pointer-events: none;
}

.header__theme-menu-button:disabled {
    pointer-events: none;
}

.main-title {
    color: var(--text-color-main-title);
    text-shadow: 4px 4px 0 var(--accent-color);
    font-family: var(--font-family);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    line-height: 0.825;
    margin: 0;
    align-self: center;
}

.header__description {
    justify-self: end;
    align-self: center;
    max-inline-size: 364px;
    font-weight: 700;
}

.content {
    padding: 40px var(--content-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section__title {
    color: var(--text-color-title-section);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

.content-section {
    display: grid;
    gap: 20px;
}

.advices-section__subtitle {
    font-weight: 700;
    margin: 0;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.3;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery__title {
    margin: 0 0 0 0;
    color: var(--text-color-title);
    background-color: var(--accent-color);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
}

.gallery__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.gallery__item {
    inline-size: 100%;
    block-size: 100%;
}

.gallery__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    position: relative;
    height: 100vh;
    min-height: 668px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--content-padding);
}

.footer__title {
    color: var(--text-color-main-title);
    text-shadow: 2px 2px 0 var(--accent-color);
    font-family: var(--font-family);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    line-height: 0.825;
    margin: 0;
}

@media (768px <= width < 1024px) {
    .header {
        padding: var(--content-padding);
        min-height: 1024px;
    }

    .decor {
        inset-inline-end: 48px;
        inset-block-start: 20px;
    }

    .header__theme-menu {
        margin-block-start: 172px;
    }

    .main-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-inline-start: -20px;
    }

    .header__description {
        margin-block-start: 0px;
        max-inline-size: 364px;
    }

    .content {
        padding: 60px 20px;
        gap: 30px;
    }

    .why-section {
        grid-template-columns: 236px 1fr;
        gap: 20px;
    }

    .why-section .section__title {
        grid-column: 1;
        grid-row: 1;
        width: 236px;
        justify-self: start;
    }

    .why-section .card {
        grid-column: 2;
    }

    .reasons-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin-top: 50px;
    }

    .reasons-section .section__title {
        justify-self: start;
        max-width: 236px;
        margin: 0;
    }

    .reasons-section .card {
        grid-column: 1;
        width: 100%;
    }

    .advices-section {
        grid-template-columns: 236px 1fr;
        gap: 20px;
        grid-template-rows: auto auto;
    }

    .advices-section .section__title {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: start;
        margin-top: 50px;
    }

    .advices-section .card {
        grid-column: 2;
        grid-row: auto;
    }

    .advices-section__subtitle {
        grid-column: 2;
        grid-row: 1;
        display: inline-block;
        align-self: start;
        margin-top: 50px;
        margin-bottom: 0px;
        width: 100%;
    }

    .advices-section .card:first-of-type {
        grid-row: 2;
    }

    .gallery {
        margin-block-start: 0;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        margin-top: -10px;
    }

    .gallery__title {
        grid-column: 1 / -1;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .gallery__item_sunset {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .gallery__item_ice {
        grid-column: 3;
        grid-row: 2 / span 2;
    }

    .gallery__item_tape {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    .gallery__item_books {
        grid-column: 2;
        grid-row: 3;
    }

    .gallery__item_street {
        grid-column: 2 / span 2;
        grid-row: 4;
    }

    .footer {
        padding: var(--content-padding);
        min-height: 1024px;
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (min-width: 1024px) {
    .header {
        padding: var(--content-padding);
    }

    .header__theme-menu {
        justify-self: center;
        align-self: start;
        margin-block-start: 0;
    }

    .header__theme-menu-list {
        flex-direction: row;
        gap: 10px;
    }

    .decor {
        inset-inline-end: 48px;
        inset-block-start: 20px;
    }

    .main-title {
        margin-inline-start: -20px;
        align-self: center;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__description {
        max-inline-size: 491px;
        align-self: end;
        margin-bottom: 115px;
        margin-top: 0px;
    }

    .content {
        padding: 60px 20px;
        gap: 80px;
    }

    .why-section {
        grid-template-columns: 315px 1fr;
        gap: 20px;
    }

    .why-section .section__title {
        grid-column: 1;
        grid-row: 1;
    }

    .why-section .card {
        grid-column: 2;
    }

    .reasons-section {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .reasons-section .section__title {
        grid-column: 1 / span 3;
        max-inline-size: 315px;
        margin-top: 0px;
    }

    .reasons-section .card {
        grid-column: auto;
    }

    .advices-section {
        grid-template-columns: 315px 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .advices-section .section__title {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: start;
    }

    .advices-section__subtitle {
        grid-column: 2;
        grid-row: 1;
    }

    .advices-section .card {
        grid-column: 2;
        grid-row: auto;
    }

    .advices-section .card:first-of-type {
        grid-row: 2;
        margin-top: 0;
    }

    .gallery {
        margin-block-start: 0;
        margin-block-end: 60px;
        margin-bottom: 0px;
        gap: 0px;
    }

    .gallery__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .gallery__title {
        grid-column: 1 / -1;
        margin-bottom: 0;
    }

    .gallery__item_sunset {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .gallery__item_ice {
        grid-column: 3;
        grid-row: 2 / span 2;
    }

    .gallery__item_tape {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    .gallery__item_books {
        grid-column: 2;
        grid-row: 3;
    }

    .gallery__item_street {
        grid-column: 2 / span 2;
        grid-row: 4;
    }

    .footer {
        padding: var(--content-padding);
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}