:root {
    --font-family: 'IBM Plex Mono', monospace;
    --content-padding: 10px;
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-rgb: 255, 0, 112;
    --text-color-title: #000028;
    --text-color-main-title: #DB00FF;
    --text-color-title-section: #FF0070;
    --page-background-image: url("../images/cover-image-dark.png");
    --button-border-color: var(--accent-color);
    --decor-display: inline-block;
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --corner-color: var(--accent-color);
}

@media (min-width: 768px) {
    :root {
        --content-padding: 20px;
        --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}