:root {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-rgb: 255, 0, 112;
    --text-color-title: #000028;
    --text-color-main-title: #DB00FF;
    --text-color-title-section: #FF0070;
    --font-family: 'IBM Plex Mono', monospace;
    --page-background-image: url("../images/cover-image-dark.png");
    --page-background-repeat: no-repeat;
    --page-background-position: center;
    --page-background-size: cover;
    --page-background-attachment: fixed;
    --content-padding: 10px;
}

@media (min-width: 768px) {
    :root {
        --content-padding: 20px;
    }
}