:root {
    --font-family: 'IBM Plex Mono', monospace;
    --page-background-repeat: no-repeat;
    --page-background-position: center;
    --page-background-size: cover;
    --page-background-attachment: fixed;
    --content-padding: 10px;
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-rgb: 255, 0, 112;
    --text-color-title: #000028;
    --text-color-main-title: #DB00FF;
    --text-color-title-section: #FF0070;
    --page-background-image: url("../images/cover-image-dark.png");
}



@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --text-color: #F1B2CE;
        --accent-color: #FF0070;
        --accent-color-rgb: 255, 0, 112;
        --text-color-title: #000028;
        --text-color-main-title: #DB00FF;
        --text-color-title-section: #FF0070;
        --page-background-image: url("../images/cover-image-dark.png");
    }

    .theme-auto .decor {
        display: inline-block;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF1F7;
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --accent-color-rgb: 255, 141, 203;
        --text-color-title: #353430;
        --text-color-main-title: #FFC2E6;
        --text-color-title-section: #353430;
        --page-background-image: url("../images/cover-image-light.png");
    }
}

    .theme-auto .decor {
        display: none;
    }

@media (min-width: 768px) {
    :root {
        --content-padding: 20px;
    }
}