:root {
    --font-family: 'IBM Plex Mono', monospace;
    --content-padding: 10px;
}

@media (min-width: 768px) {
    :root {
        --content-padding: 20px;
    }
    
    .theme-auto,
    .theme-light,
    .theme-dark {
        --content-padding: 20px;
    }
}